#infobox {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#infobox-content {
    position: fixed;
    left: 50%;
    top: 30%;
    background-color: cornsilk;
    display: inline-block;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 50px 15px black;
    text-align: left;
    transform: translate(-50%, 0%);
}

#infobox-background {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}

.infobox-input-group {
    margin: 5px 0;
}

.infobox-input-label {
    display: inline-block;
    width: 100px;
}

.infobox-input {
    float: right;
}

.invalid {
    background-color: orange;
}

.infobox-button {
    margin: 5px 0 0;
}

#infobox-submit {
    float: right;
}
