/*
	Hintergrund
*/
body {
    background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Chrome 10+, Saf5.1+ */
    background: -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* W3C */
    font-family: "Arial", Arial, sans-serif;
}

#index_logo {
	display:block;
	width: 55%;
	margin-left: auto;
    margin-right: auto;
}

#bodydiv {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
    background-color:#aaaaaa;
}

main {
	margin-top:20pt;
	padding-bottom:25pt;
	padding-top:5pt;
    min-height: 50%;
	background-color: white;
}


/*
	Menu Bar
*/	
#logo_small {
	margin-left:50pt;
}

#menu {
	width:90%;
    list-style-type: none;
    margin: 0;
	margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
}

.menu_item {
	width: 25%;
    float: left;
}

.menu_link:link, .menu_link:visited {
    display: block;
    font-weight: bold;
    color: #3a7bd5;
    background-color: #E8E8E8 ;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu_link_selected:link, #menu_link_selected:visited {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #3a7bd5;
    color:white;
}

.menu_link:hover, .menu_link:active {
    background-color: #3a7bd5;
    color:white;
}

/*
	Main
*/
#logo_home {
	display:block;
	width:90%;
	margin-right: auto;
	margin-left: auto;
}

h1{
    color: #3a7bd5;
	position:relative;
	left:5%;
}

h2,h3,h4{
	position:relative;
	left:5%;
} 

h5{
	position:relative;
	left:5%;
	padding-top: 25pt;
	font-size:110%;
}

p{
	position:relative;
	left:5%;
}


/*
	Familytree
*/


.familytree {
    list-style-type: none;
 	margin: 0;
	margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;


	padding-top: 20px;
	position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.familymember li {

    float:left;
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
    
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.familymember li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; /*right: 50%*/;
	border-top: 1px solid black;
	width: 50%; height: 20px;
}
/*new*/
.familymember li::before {
	left:0;
	width:50%;
	border-right: 1px solid black;
}
.familymember li::after{
	/*right: auto;*/ left: 50%;
	border-left: 1px solid black;
}

.familymember li:only-child::after, .tree li:only-child::before {
	/*display: none;*/
	border-top:0 none;
	border-radius:0 !important;
}

.familymember li:only-child{ padding-top: 0;}

.familymember li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.familymember li:last-child::before{
	border-right: 1px solid black;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.familymember li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.familytree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid black;
	width: 0; height: 20px;
}











div.member {
	display: inline-block;
    margin: 8pt;
    padding: 2pt;
    border: 1pt dotted black;
}

.inlaw {
	margin-left:7pt; 
    font-weight: normal;
}

.space {
	white-space: pre;
}

.space:after {
	content:' ';
}



#test1 {
	
}

#test2 {
	
}