#infobox {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#infobox_background {
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
}

#infobox_content {
    position: fixed;
    left: 50%;
    top: 30%;
    background-color: cornsilk;
    display: inline-block;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 50px 15px black;
    text-align: left;
    transform: translate(-50%, 0%);
}

.categorylabel {
    display: inline-block;
    width: 100px;
}​

.info_input {
    width: 1000px;
    color: red;
    background-color: blue;
}

.invalid {
    background-color: orange;
}

#infobox_submit {
    float: right;
}

.form_button {
    margin: 5px 0px 0px;
}
.member {
    cursor: pointer;
}


