.table {
    background-color: #00f;
	border: 6px inset #8B8378;
	}

tr.table_content_row:nth-child(odd)   {
    background-color:#888;
 }
tr.table_content_row:nth-child(even)  {
    background-color:#fff;
    }