.cross {
	position:relative;
	top:4px;
}

.familytree {
    list-style-type: none;
 	margin: 0;
	margin-left: auto;
    margin-right: auto;
    padding: 0;
	text-align: center;
	padding-top: 20px;
	position: relative;
	padding-bottom: 10pt;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	
	overflow:auto;
	white-space:nowrap ;
}

.familytree li {
	display: inline-block;
	list-style-type: none;
	position: relative;
	padding: 10px 5px 0 5px;
    
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	vertical-align: top;
}

.familymember li::before, .familymember li::after{
	content: '';
	position: absolute; top: 0; /*right: 50%*/;
	border-top: 1px solid black;
	width: 50%; height: 20px;
}
/*new*/
.familymember li::before {
	left:0;
	width:50%;
	border-right: 1px solid black;
}
.familymember li::after{
	/*right: auto;*/ left: 50%;
	border-left: 1px solid black;
}

.familymember li:only-child::after, .familymember li:only-child::before {
	/*display: none;*/
	border-top:0 none;
	border-radius:0 !important;
}

.familymember li:only-child{ padding-top: 10px; }

.familymember li:first-child::before, .familymember li:last-child::after{
	border: 0 none;
}

.familymember li:last-child::before{
	border-right: 1px solid black;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.familymember li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.familytree ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid black;
	width: 0; height: 20px;
}



div.member {
	display: inline-block;
    margin: 8pt;
	margin-bottom: 0;
    padding: 2pt;
    border: 1pt solid black;
    cursor: pointer;
}



.inlaw {
	margin-left:7pt; 
    font-weight: normal;
}

.space {
	white-space: pre;
}

.space:after {
	content:' ';
}
